@import "app/styles/postit"
@import "app/styles/modal"

html, body
    background-image url('../images/double_lined.png')
    margin 0
    padding 0
    
body
    padding-top 60px

    .topbar
        .brand-image
            float left
            display block
            vertical-align middle
            margin-right 10px

        .action-container
            float left
            margin 5px 0 0 0
            position relative

            #actions
                #new-column
                    display inline

    #main
        margin 0 auto
        
        #new-note
            position absolute
            top 0px
            left 0px
            padding-top 40px

            a.addNote
                text-align center
                font-weight bold
                padding 3px 5px
                font-size 16px
                text-decoration none
                -webkit-border-radius 1px
                -moz-border-radius 1px
                display block
                padding 25px 5px 5px
                -webkit-box-shadow 0 3px 6px rgba(0,0,0,.85)
                -moz-box-shadow 0 3px 6px rgba(0,0,0,.65)
                vertical-align middle
                -webkit-transform rotate(-4deg)
                -moz-transform rotate(-4deg)
                float left
                margin -5px 10px 0px
                color black
                width 1em

        #notes
            position absolute
            height 85%
            width 100%

            .note
                min-width 10em
                min-height 4em
                margin 10px
                padding 25px 5px 7px
                -webkit-backface-visibility hidden
                backface-visibility hidden
                -webkit-box-shadow 0 3px 6px rgba(0,0,0,.85)
                box-shadow 0 3px 6px rgba(0,0,0,.85)
                -webkit-transform rotate(-1deg)
                transform rotate(-1deg)
                cursor move
                vertical-align middle
                font-family 'Bradley Hand ITC TT'
                font-style italic
                font-size 16px
                z-index 10

                textarea.textedit
                    background none
                    font-family Verdana, Arial, sans-serif
                    font-size 16px
                    width 95%
                    height 95%
                    border none
                    text-align center
                    resize none

                textarea.textedit:focus
                    outline none

                .delete
                    color red
                    -webkit-border-radius 10px
                    -moz-border-radius 10px
                    display block
                    position absolute
                    top 0px
                    right 3px
                    cursor pointer

        #columns
            display -moz-box
            display -webkit-box
            display box
            
            .column
                position absolute
                height 85%
                text-align center
                vertical-align middle
                -webkit-box-sizing border-box
                -moz-box-sizing border-box

                h2
                    margin 0 auto
                    
                h2:hover .column-destroy
                    display inline-block

                .border-right
                    height 100%
                    width 5px
                    float left
                    background-image url('../images/green-board-line.png')
                   

                .column-destroy
                    display none
                    cursor pointer
                    margin-left 10px
                    width 16px
                    height 16px
                    background url('../images/delete.png') no-repeat 0 0

            .editing .display, .edit
                display none

            .editing
                .edit
                    display block

                    input[type=text]
                        height 26px
                        font-size 24px
                        line-height 36px
                        text-align center
                        background transparent
                        border none
                        -webkit-box-shadow none
                        -moz-box-shadow none
                        box-shadow none

                    input[type=text]:focus
                        font-style italic
                        font-color #484848
                        outline none

        #add-column
	        opacity .15

        #add-column:hover
            opacity .5