.postit
    background rgb(247,242,104)
    background -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(247,242,104)), color-stop(0.76, rgb(247,244,143)))

.purple
    background #FF00D4
    background -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #D801B4), color-stop(0.76, #FF00D4))

.green
    background #61BD00
    background -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #61BD00), color-stop(0.76, #61BD00))

.orange
    background #FF9100
    background -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #FF9100), color-stop(0.76, #FF9100))

.yellow
    background #F7FF00
    background -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #F7FF00), color-stop(0.76, #F7FF00))

.white
    background-image -webkit-gradient(linear, left bottom, left top, color-stop(0.41, rgb(250,247,250)), color-stop(0.71, rgb(250,250,250)))
    background-image -moz-linear-gradient(center bottom, rgb(250,247,250) 41%, rgb(250,250,250) 71%)

.ribbon
    position absolute
    top -15px
    left -5px
    height 25px
    width 50px
    border-left 1px dashed rgba(0, 0, 0, 0.1)
    border-right 1px dashed rgba(0, 0, 0, 0.1)
    -webkit-box-shadow 0px 0px 12px rgba(0, 0, 0, 0.2)
    -moz-box-shadow 0px 0px 12px rgba(0, 0, 0, 0.2)
    box-shadow 0px 0px 12px rgba(0, 0, 0, 0.2)
    opacity 0.9
    -moz-transform rotate(-25deg)
    -webkit-transform rotate(-25deg)
